node_modules
**/node_modules
dist
**/dist
.git
.demo-data*
**/.demo-data*
.dsh
**/.dsh
reports
**/reports
credentials
**/credentials
backups
**/backups
privatekeys
**/privatekeys
tests/fixtures
*.log
